{% extends "pages/base.html" %}
 
{% block title %}Admin{% endblock %}
 
{% block content %}
{% if user.is_superuser %}
<form action="." method="POST">
            {% csrf_token %}
    <input type="text" class="form-control" name="id" placeholder="ID Người cần sửa thông tin" required>
    <div class="class="form-group"">
        <label>Chức Vụ:</label>
        <select class="custom-select mr-sm-2" name="chucvu">
            <option selected>Trống
            <option value="Học Viên">Học Viên
            <option value="Đại Tướng">Đại Tướng
            <option value="Thượng Tướng">Thượng Tướng
            <option value="Trung Tướng">Trung Tướng
            <option value="Đại Tá">Đại Tá
            <option value="Thượng Tá">Thượng Tá
            <option value="Trung Tá">Trung Tá
            <option value="Thiếu Tá">Thiếu Tá
        </select>
    </div>
    <div class="class="form-group"">
        <label>Lĩnh Vực:</label>
        <select class="custom-select mr-sm-2" name="linhvuc">
            <option selected>Trống
            <option value="Xây Dựng">Xây Dựng
            <option value="Mod">Mod
            <option value="Trigger">Trigger
            <option value="Script">Script
            <option value="Plugin">Plugin
            <option value="Công Nhân">Công Nhân
        </select>
    </div>
    <br>
            <input type="submit" value="Thay Đổi"/>
        </form>
 {% endif %}
 
{% endblock %}