{% extends "pages/base.html" %}
{% load static %}
{% block title %}
Bài Viết
{% endblock %}

{% block content %}
<a href="{% url 'vietbai' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Tạo bài viết mới</a>
   <!--{{post.Date|date:"d-m-Y"}}-->
   <table class="table">
  <thead>
    <tr>
      <th>Phân Loại</th>
      <th>Người Đăng</th>
      <th>Hưởng Ứng</th>
    </tr>
  </thead>
  <tbody>
{% for post1 in Code %}
    <tr>
      <td>
        <b>[{{post1.Loai}}]</b>
        <a href="/post/{{post1.id}}">
          <p class="text-break">
            <span class="d-inline-block text-truncate" style="max-width: 100px;">
                {{post1.Title}}
            </span>
          </p>
        </a>
      </td>
      <td>{{post1.User}}</td>
      <td>{{post1.HuongUng}} % </td>
   </tr>
 {% endfor %}  
  </tbody>
</table>

{% endblock %}
