{% extends "pages/base.html" %}
{% load static %}
{% block title %}
Bài Viết
{% endblock %}

{% block content %}

   <!--{{post.Date|date:"d-m-Y"}}-->
   <table class="table">
  <thead>
    <tr>
      <th>Tiêu Đề</th>
      <th>Người Đăng</th>
      <th>Like/Unlike</th>
    </tr>
  </thead>
  <tbody>
{% for post in Code %}
    <tr>
      <td>
        <a href="/post/{{post.id}}">
          <p class="text-break">
            <span class="d-inline-block text-truncate" style="max-width: 100px;">
                {{post.Title}}
            </span>
          </p>
        </a>
      </td>
      <td>{{post.User}}</td>
      <td>{{post.Like}}/{{post.Unlike}}</td>
   </tr>
 {% endfor %}  
  </tbody>
</table>

{% endblock %}
