
{% extends "pages/base.html" %}
{% load static %}
{% block title %}
MiniCode
{% endblock %}

{% block content %}
<div class="container-fluid">
<form action="." method="POST">
    {% csrf_token %}
	<input type="text" class="form-control" name="title" placeholder="Tiêu Đề" required>
  	<div id="app">
  		<div id="codeEditor" class="code-editor"></div>
  	</div>
  
    </form>
 </div>
<script src="{% static 'js/datapack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock %}