{% extends "pages/base.html" %}
 
{% block title %}{{post.Title}}{% endblock %}
 
{% block content %}
<p><h6> {{post.Date}}</h6><a href="{% url 'code'%}" class="btn btn-primary" role="button" aria-pressed="true">Trở về</a></p>
<div class="container">
    <center><h4>{{post.Title}}</h4></center>
    <p style="text-align: right;width:100%"><i>{{post.User}}</i></p>
    <p><b>Giới Thiệu: </b> {{post.Gioithieu}}<p>
    <p><b>Chức Năng: </b> {{post.Chucnang}}<p>
    <pre style="background-color: #A9A9A9;margin: 25px; ">  {{post.Link}}  </pre>
    
    <!--<div class="alert alert-primary" role="alert">Link này do người dùng đăng tải lên. Chúng tôi không chịu trách nhiệm nếu người đăng không phải Quản Trị Viên website. Nhấn vào <a href="{{post.Link}}" class="alert-link">ĐÂY</a> để tải</div>
-->




<div class="alert alert-dark" role="alert">
  Để sử dụng code Lua, vui lòng tải tệp trên về, sau đó vào phía dưới Triger chọn Kịch Bản và Tạo Kịch Bản Mới sau đó nhấn vào hình file và chọn vào tệp vừa tải về!
</div>

<div style="
            width:100%;
            height:200px;
            overflow-x:hidden;
            overflow-y:auto;">
{% for comment in post.comments.all %}
    <div>
    <b><a href="/infor/{{comment.id_user}}">{{comment.author}}</a></b> lúc {{comment.date|date:"d-m-Y"}}
    <p>{{comment.body}}</p>
    </div>
{% endfor %}
</div>
<hr>
{% if user.username %}
    <form action="{% url 'codex' post.id %}" method="POST">
        {% csrf_token %}
        <P>Bình luận:</p>
        <textarea name="body" style="width:100%;
            height:100px;" required="" id="id_body"></textarea>
        <br/>
        <input type="submit" value="Bình luận"/>
    </form>
{% endif %}

</div>
{% endblock %}