{% extends "pages/base.html" %}
{% load static %}
{% block title %}
Chia Sẻ Script 
{% endblock %}

{% block content %}
{% if user.is_superuser %}
<a href="{% url 'share' %}" class="btn btn-outline-success btn-lg btn-block" role="button" aria-pressed="true">Share Script mới</a>
 {% endif %}  
   <!--{{post.Date|date:"d-m-Y"}}-->
   <table class="table">
  <thead>
    <tr>
      <th>Tiêu Đề</th>
      <th>Người Đăng</th>
      <th>Giới Thiệu</th>
    </tr>
  </thead>
  <tbody>
{% for post in Codex %}
    <tr>
      <td>
        <a href="/code/{{post.id}}">
          <p class="text-break">
            <span class="d-inline-block text-truncate" style="max-width: 100px;">
                {{post.Title}}
            </span>
          </p>
        </a>
      </td>
      <td>{{post.User}}</td>
      <td>{{post.Gioithieu}}</td>
   </tr>
 {% endfor %}  
  </tbody>
</table>

{% endblock %}