{% extends "pages/base.html" %}
 {% load static %}
{% block title %}Học Script{% endblock %}
 
{% block content %}
    <div class="row">
    <div class="col-6">
      <center>
        <a href="https://www.youtube.com/channel/UC2n4zr1HoLg7917pQO--0nw" class="btn btn-info btn-lg active" role="button" aria-pressed="true">
        <img src="{% static "icons/book.svg" %}" width="100px" height="100px" class="d-inline-block align-top" alt="">
          <br>
          Học Script Youtube
        </a>
    
      </center>
    </div>
    <div class="col-6">
      <center>
        <a href="#" class="btn btn-info btn-lg active" role="button" aria-pressed="true">
          <img src="{% static "icons/chat.svg" %}" width="100px" height="100px" class="d-inline-block align-top" alt="">
          <br>
          Góc Hỏi Bài
        </a>
      </center>
    </div>
{% endblock %}