{% extends "pages/base.html" %}
{% load static %}
{% block title %}
Bài Học
{% endblock %}

{% block content %}
<a href="{% url 'vietbaihoc' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Tạo bài học mới</a>
   <!--{{post.Date|date:"d-m-Y"}}-->
   <table class="table">
  <thead>
    <tr>
      <th>Tiêu Đề</th>
      <th>Người Đăng</th>
      <th>Ngày Đăng</th>
    </tr>
  </thead>
  <tbody>
{% for post in script %}
    <tr>
      <td>
        <a href="/hocscript/{{post.id}}">
          <p class="text-break">
            <span class="d-inline-block text-truncate" style="max-width: 100px;">
                {{post.Tieude}}
            </span>
          </p>
        </a>
      </td>
      <td>{{post.User}}</td>
      <td>{{post.Date|date:"d-m-Y"}}</td>
   </tr>
 {% endfor %}  
  </tbody>
</table>

{% endblock %}